/* .mask {
  width: 100%; 
  height: 100vh;
  position: relative;
} */

.mask {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.into-img {
  max-width: 100%;
  height: auto;
}

.mask::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
}
.hero{
  height: 100%;
  width: 100%;
  
}
.hero .content{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero .content h1{
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}
.hero .content p{
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;

}

.content .btn{
  margin: 0.7rem;
  display: block;
  width: 60%;
  margin: 2rem auto;
  border-radius: 1rem;
}

.hero .my-img {
  position: absolute;
  top: 50%;
  right: 100;
  transform: translateY(-50%);
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  border-radius: 50%; /* Make it round */
  margin: 0 7rem;
}

@media screen and (max-width: 640px) {
  .hero .content h1{
    font-size: 3rem;
  }
  .hero .content{
    font-size: 1.4rem;
  }
  /* .hero .my-img {
    position: absolute;
    top: -160px; 
    right: 0;
    width: 80px;
    height: 80px;
    margin: 6rem 15rem;
  } */
}
  /* @media screen and (max-width: 480px) {
     .hero .my-img {
      position: absolute;
      top: -120px; 
      right: 0;
      width: 60px;
      height: 60px;
      margin: 6rem 15rem;
    } */
  
